<aside>


	<div class="panel radius">
		<h3>Specialties</h3>
		<p>
* Computer Architecture<br>
* Database Systems<br>
* Computer Organization<br>
* Object-Oriented Programming<br>
* Software Princibles<br>
* Software Requirements<br>
* Data Structures<br>
* iOS Programming<br>
* Advanced Algorithms<br>
* Managing Software Development<br>
* Software Design Process<br>
* Patterns in Software Engineering<br>
* Software Quality Assurance and Reliability<br>
		</p>
	</div>

<img class="b30" src="https://yikaraman.github.io/kayraxewebsite/images/cycle.png" class="alignleft" width="300" height="300" alt="">

	<div class="border-dotted radius b30">
		<img src="http://www.aha.io/assets/integration_logos/github-bb449e0ffbacbcb7f9c703db85b1cf0b.png" alt="" width="300" height="300">
		<p class="text-left">
			You can check out my github Repositories!<a href="http://github.com/yikaraman">yikaraman</a>
		</p>
	</div>
</aside>
